@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.site-card-border-less {
    width: 100%;
    gap: 8px;
    display: flex;
    flex-wrap: wrap;

}

a {
    text-decoration: none;
}

.length_students {
    width: 100%;
    display: flex;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-top: 1px solid rgb(185, 185, 185);
}

.lineColumn {
    opacity: 50%;
}


.iconBox {
    display: flex;
    align-items: center;
    gap: 4px;
}

.h1-text {
    font-size: 1.3rem;
    margin: 40px 0;
    color: #2c2c2c;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.h1-text i {
    background-color: #509bfc;
    color: #fff;
    width: 40px;
    height: 40px;
    box-shadow: 2px 5px 30px rgba(80, 123, 252, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin: 0 20px;
}

/* .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
} */

.top {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.boxGroups {
    position: relative;
    min-width: 230px;
    background-color: #fff;
    box-shadow: 2px 3px 30px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 10px;
    position: relative;
    border-radius: 10px;
}


.top-bar {
    width: 50%;
    height: 4px;
    background: #507bfc;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0px 0px 10px 10px;
}

.btn_boxGroups {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.fa-check-circle {
    color: #17b667;
    font-size: 19px;

}

/* creating heart */
.heart {
    color: rgba(155, 155, 155);
    font-size: 19px;
}

.heart::before {
    content: '\f004';
    font-family: fontawesome;
    line-height: 30px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.3s;
}

.boxGroups .heart-btn:checked~.heart::before {
    color: #e41934
}

.heart-btn {
    position: absolute;
    top: 25px;
    right: 20px;
    padding: 1rem;
    display: none;
}


.content img {
    width: 100% !important;
    height: 90px;
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;
    object-position: top;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content strong {
    font-weight: 500;
    color: #141414;
    margin-top: 10px;
}

.content p {
    font-size: 0.9rem;
    color: #7a7a7a;
    margin: 4px 0px 10px 0px;
    cursor: pointer;
}

.content p:hover {
    text-decoration: underline;
}

.btn_boxGroups {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.btn_boxGroups a i {
    margin-right: 9px;
}

.btn_boxGroups a {
    border-radius: 20px;
    color: #8b8b8b;
    padding: 8px 20px;
    font-size: 0.9rem;
}

.btn_boxGroups a:hover {
    color: #fff;
    box-shadow: 2px 5px 15px rgba(80, 123, 252, 0.05);
    background-color: #507bfc;
    transition: all ease 0.5s;
}


@media (max-width: 768px) {
    .boxGroups {
        min-width: 180px;
        padding: 3px;
        margin: 3px;
    }

    .iconBox {
        display: flex;
        align-items: center;
        gap: 1px;
    }

    .length_students {
        gap: 4px;
    }

    .site-card-border-less {
        width: 100%;
        gap: 8px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        overflow-y: auto;
        /* Skroll qo'shish uchun */
        max-height: 500px;
        /* Maksimal bo'yini belgilash uchun, kerakli qiymatni o'rnating */
    }

    /* Scroll barning o'zi */
    .site-card-border-less::-webkit-scrollbar {
        width: 3px;
        /* Scroll bar kengligi */
    }

    /* Scroll bar treki */
    .site-card-border-less::-webkit-scrollbar-track {
        background: #f1f1f1;
        /* Track rangi */
        border-radius: 10px;
    }

    /* Scroll bar thumb (foydalanuvchi ushlab turgan qismi) */
    .site-card-border-less::-webkit-scrollbar-thumb {
        background: #888;
        /* Thumb rangi */
        border-radius: 10px;
    }

    /* Hover qilinganda thumb rangi */
    .site-card-border-less::-webkit-scrollbar-thumb:hover {
        background: #555;
        /* Hover qilinganda thumb rangi */
    }

}

@media (max-width: 370px) {
    .content img {
        width: 70px;
        height: 70px;
    }

    .boxGroups {
        min-width: 155px;
        padding: 3px;
        margin: 3px;
    }

    .iconBox {
        display: flex;
        align-items: center;
        gap: 1px;
    }

    .length_students {
        gap: 4px;
    }

    .iconBox {
        font-size: 12px;
    }

    .content strong {
        font-size: 13px;

    }

    .content p {
        font-size: 0.8rem;
    }
}