.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    position: relative;
}

.header-title {
    font-size: 18px;
    font-weight: 700;
    color: #1f2937;
}

.header-buttons {
    display: flex;
    align-items: center;
    gap: 8px;
}

.add-lesson-button {
    background-color: transparent;
    border: 1px dashed #3b82f6 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 5px;
    top: 0px;
    width: 40px;
    font-size: 20px;
    height: 30px;
    border-radius: 10px;
    color: #3b82f6 !important;
}


.chevron-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #3b82f6;
    font-size: 16px;
}

.chevron-button:disabled {
    color: #9ca3af;
    cursor: not-allowed;
}

.chevron-icon {
    font-size: 16px;
}

.table-container {
    max-height: calc(100vh - 180px);
    overflow-y: auto;
}

.schedule-table {
    width: 100%;
    border-collapse: collapse;
}

.table-header {
    background-color: #e5e7eb;
}

.table-cell {
    padding: 8px;
    text-align: left;
    font-size: 14px;
    border: 1px solid #d1d5db;
}

.table-cell:first-child {
    font-weight: 600;
}

.schedule-row {
    cursor: pointer;
}

.schedule-row:hover {
    background-color: #e0f2fe;
}

.selected-lesson {
    background-color: #dcfce7;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 4px;
    color: #1f2937;
}

.form-input {
    width: 100%;
}